.container-fluid {
	height: 100vh; /*100 percent the same size as our window*/
	background: rgb(0, 0, 0, 0.5);
	padding-top: calc(50vh - 60px);
}
	.container-fluid h1 {
		font-size: 70px;
	}
	.container-fluid a {
		font-size: 20px;
	}